@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,500;0,700;1,200;1,300;1,500;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&family=Sen:wght@400;700;800&display=swap');

:root {
  --light: #f1f6f9;
  --light-blue: #d7e8f2c4;
  --light-gray: #9ba4b4;
  --white: #fff;
  --gray: #394867;
  --dark: #14274e;
  --success: #1f8a70;

  --z-idx-10: 10;
  --z-idx-20: 20;
  --z-idx-30: 30;
  --z-idx-40: 40;
  --z-idx-50: 50;

  --box-shadow-dark-1: 0 0 1rem rgb(20, 39, 78, 0.1);
  --box-shadow-dark-2: 0 0 1rem rgb(20, 39, 78, 0.2);
  --box-shadow-dark-3: 0 0 1rem rgb(20, 39, 78, 0.3);

  --background-transparent: rgb(20, 39, 78, 0.9);

  /* toast customizations */
  --toastify-color-success: var(--success);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
  color: var(--light);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: var(--z-idx-30);
  padding: 1.5rem 7%;
}

.logo {
  font-size: 2.8rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.logo i {
  color: var(--light-gray);
}

.navbar-link {
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.navbar-link.active,
.navbar-link:hover {
  background-color: var(--light);
  color: var(--dark);
}

.icons i {
  width: 3.6rem;
  height: 3.6rem;
  font-size: 1.6rem;
  line-height: 3.6rem;
  background-color: var(--gray);
  border-radius: 50%;
  text-align: center;
  margin-left: 0.5rem;
  cursor: pointer;
}

.icons i:hover {
  background-color: var(--light);
  color: var(--dark);
  transform: rotate(360deg);
}

.icons i#logout,
.icons i#menu-bars {
  display: none;
}

main {
  padding-top: 7rem;
  min-height: 93vh;
}

section {
  padding: 2rem 9%;
  color: var(--dark);
  font-size: 1.6rem;
}

section p {
  color: var(--gray);
}

footer {
  background-color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

footer i,
footer h4 {
  font-size: 1.4rem;
  padding: 0 0.3rem;
}

label {
  color: var(--light-gray);
  font-size: 1.8rem;
  font-weight: 600;
}

input {
  color: var(--gray);
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
}

/* ============ common resources ============= */

.text-bold-700 {
  color: var(--gray);
  font-weight: 700;
}

.input-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.page-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.page-title h2 {
  color: var(--gray);
  text-transform: capitalize;
}

.page-title i {
  color: var(--gray);
  font-size: 2rem;
  text-align: center;
}

.info-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 10rem 0;
}

.info-title h2 {
  color: var(--gray);
  font-size: 2.6rem;
}

.info-title i {
  color: var(--light-gray);
  font-size: 2.6rem;
  text-align: center;
}

.button {
  background-color: var(--light-gray);
  color: var(--light);
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: var(--gray);
  color: var(--white);
}

.btns-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.Toastify__toast-body {
  font-size: 1.8rem;
}

.actions-panel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid var(--white);
}

.actions-panel i {
  color: var(--light-gray);
  cursor: pointer;
  font-size: 2.5rem;
}

.actions-panel i:hover {
  display: flex;
  color: var(--gray);
}

.actions-panel-left {
  display: flex;
  align-items: center;
}

.actions-panel-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* ============ Spinner ============= */

.lds-spinner-position {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z-idx-50);
}

.lds-spinner {
  color: var(--light-gray);
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: var(--light-gray);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ============ home page ============= */

.home-page-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 1rem;
}

.home-page-content p {
  font-size: 1.8rem;
  text-indent: 4rem;
}

/* ============ login page ============= */

.login-page {
  position: fixed;
  left: 0;
  top: -110%;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-idx-40);
  background-color: var(--background-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page.active {
  top: 0;
}

.login-page .wrapper {
  width: 28rem;
  background-color: #394867;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.login-page .wrapper .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.login-page .wrapper .title h2 {
  text-transform: capitalize;
  font-size: 2.8rem;
}

.login-page .wrapper .title i {
  color: var(--light-gray);
  font-size: 2.2rem;
  text-align: center;
}

.login-page .wrapper input {
  color: var(--gray);
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background-color: var(--light);
}

.login-page .wrapper input::placeholder {
  color: var(--light-gray);
  font-size: 1.6rem;
  text-transform: capitalize;
}

.login-page .wrapper .btns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.7rem;
}

.login-page .wrapper .btns-container .btn {
  color: var(--light-gray);
  background-color: var(--dark);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
}

.login-page .wrapper .btns-container .btn:hover {
  color: var(--white);
  filter: brightness(0.8);
}

/* =========== vocabulary ============== */
.vocabulary .top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vocabulary .search input {
  color: var(--dark);
  font-size: 1.8rem;
  width: 30rem;
  padding: 0.5rem 0;
  border-bottom: 0.1rem solid var(--light-gray);
  background: none;
  text-transform: none;
}

.vocabulary .search input::placeholder {
  color: var(--light-gray);
  font-size: 1.8rem;
}

.vocabulary .search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.vocabulary .search label i {
  color: var(--gray);
  font-size: 2rem;
}

/* ======= cards ======= */

.cards-list {
  margin: 3rem 0;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card {
  background-color: var(--light);
  border-radius: 1rem;
  padding: 1rem;
  min-width: 28rem;
  flex: 1;
  cursor: pointer;
}

.card h3 {
  color: var(--gray);
  font-size: 2.2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.card p {
  color: var(--gray);
  font-size: 1.9rem;
}

.card p span {
  color: var(--light-gray);
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-right: 0.5rem;
}

.card:hover {
  box-shadow: var(--box-shadow-dark-2);
}

.card:nth-child(even) {
  background-color: var(--light-blue);
}

.card-outer-container {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.card-content {
  width: 100%;
  background-color: var(--light);
  color: var(--gray);
  border-radius: 1rem;
  padding: 2rem;
}

.card-content h3 {
  color: var(--gray);
  font-size: 2.2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.card-content .card-phrase {
  text-align: center;
}

.card-inner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.definition-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.phrase-definition {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.phrase-definition span {
  color: var(--light);
  background-color: var(--light-gray);
  box-shadow: var(--box-shadow-dark-3);
  padding: 1rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.1rem;
  min-width: 13rem;
}

.phrase-example span {
  color: var(--gray);
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

.phrase-example ol {
  margin: 1rem 0;
  padding-left: 2.5rem;
}

.phrase-example ol li {
  color: var(--gray);
}

.phrase-properties {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem;
}

.property {
  flex-basis: 30%;
  min-width: 28rem;
  border: 0.2rem solid var(--light-blue);
  border-radius: 0.5rem;
  padding: 0.5rem;
  flex: 1;
}

.property span {
  color: var(--gray);
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--light-blue);
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 0.4rem;
}

.property p {
  margin: 0.5rem 0.5rem;
}

.card-info {
  background-color: var(--light);
  border-radius: 1rem;
  box-shadow: var(--box-shadow-dark-2);
  padding: 1rem;
  justify-content: center;
  cursor: default;
}

.card-info p {
  text-align: center;
  font-size: 2.2rem;
}

/* ======= errorPage ======= */
.errorPage {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.errorPage h3 {
  color: var(--gray);
  text-align: center;
}

/* ======= Edit Term Form ======= */
.edit-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.edit-form-input {
  border-radius: 0.5rem;
  border: 0.1rem solid var(--light-blue);
}

.edit-form-input:focus,
.edit-form-input:hover {
  box-shadow: var(--box-shadow-dark-2);
}

/* ======= media queries ======= */

/* 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. 
*/

@media (max-width: 992px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  section {
    padding: 1rem 5%;
  }

  .icons i#menu-bars {
    display: inline-block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--dark);
    border-top: 0.1rem solid var(--light);
    border-bottom: 0.1rem solid var(--light);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navbar-link {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: var(--gray);
  }

  .card-content {
    padding: 1rem;
  }

  .card-content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .phrase-definition {
    flex-direction: column;
  }

  .phrase-properties {
    padding: 1rem;
  }

  .Toastify__toast-body {
    font-size: 2rem;
  }

  .errorPage {
    gap: 3.5rem;
  }

  .card-outer-container {
    gap: 3rem;
  }

  .home-page-content p {
    text-indent: 3rem;
  }
}

@media (max-width: 480px) {
  footer {
    display: none;
  }

  .page-title {
    display: none;
  }

  .info-title h2,
  i {
    font-size: 2.2rem;
  }

  .top-block .search {
    width: 100%;
    text-align: center;
  }

  .phrase-properties {
    padding: 0.5rem;
  }
}

@media (max-width: 320px) {
  .top-block .search label i {
    display: none;
  }

  .top-block .search input {
    width: 90%;
  }
}
